.main {
    width: 100%;
    /* padding: 0px 116px; */
    background: var(--main-bg-page, #fbf8ec);
  }
  .main__category .categories {
    font-size: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--main-on-surface, #414141);
    word-spacing: 16px;
  }
  .main__category .categories span {
    color: var(--grayscale-hard, #8f8f8f);
    word-spacing: 0;
  }
  .main__category h2 {
    color: var(--main-on-surface, #414141);
    font-size: 48px;
    line-height: 150%;
    margin-bottom: 60px;
  }
  .main__category-left {
    width: 23%;
  }
  .main__category-left div:first-child {
    border-radius: 4px;
    background: var(--grayscale-lightest, #f3f2f1);
    padding: 10px;
    color: var(--main-on-surface, #414141);
    font-size: 16px;
    margin-bottom: 40px;
    font-weight: 700;
    line-height: 150%;
  }
  .main__category-left div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main__category-left div:nth-child(2) button {
    border-radius: 4px;
    background: var(--grayscale-lightest, #f3f2f1);
    display: flex;
    width: 85px;
    height: 32px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--grayscale-hardest, #606060);
    text-align: center;
    font-size: 12px;
    border: 0;
    line-height: 150%;
    margin-bottom: 13px;
  }
  .main__category-left div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main__category-left div:nth-child(3) input {
    border-radius: 4px;
    border: 1px solid var(--grayscale-light, #bfbfbf);
    background: var(--main-surface, #fff);
    height: 40px;
    width: 120px;
    padding: 8px 16px;
    margin-bottom: 13px;
  }
  .main__category-right {
    width: 70%;
  }
  .main__category-products {
    display: flex;
    justify-content: space-between;
    row-gap: 25px;
    flex-wrap: wrap;
  }
  .main__category-body {
    display: flex;
    justify-content: space-between;
  }
  .main__category-products > div {
    width: 272px;
    border-radius: 4px;
    padding: 0 8px 8px 8px;
    background: var(--main-surface, #fff);
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .main__category-products > div img {
    width: 100%;
    margin-bottom: 8px;
  }
  .main__category-products > div b {
    color: var(--main-on-surface, #414141);
    font-size: 18px;
    margin-bottom: 16px;
    display: inline-block;
    line-height: 150%;
  }
  .main__category-products > div p {
    color: var(--main-on-surface, #414141);
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 8px;
  }
  .main__category-products i {
    color: var(--main-primary, #f63);
    margin-bottom: 8px;
  }
  .main__category-products button {
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--main-secondary, #70c05b);
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #70c05b;
    transition: all 0.5s ease-in-out;
  }
  
  .main__category-products button:hover {
    background-color: #f63;
    cursor: pointer;
    border: 0;
    color: #fff;
  }
  .more {
    border-radius: 4px;
    background: var(--grayscale-lightest, #f3f2f1);
    width: 157px;
    padding: 8px;
    border: 0;
    color: var(--grayscale-hardest, #606060);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 150%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .carusel p {
    display: flex;
    justify-content: space-around;
    word-spacing: 40px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    color: var(--grayscale-hardest, #606060);
    font-size: 16px;
    line-height: 150%;
  }
  .carusel {
      margin-bottom: 76px;
  }
  .first {
      color: #f63;
  }
  